/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* fine regole generali */

/* stati iniziali */
nav {
  display: none;
}

/*                    Macrostruttura */
body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background1 {
  height: 100px;
  background-color: #009688;
}

.background2 {
  height: calc(100vh - 100px);
  background-color: #DCDBD1;
}

/*                  Macrostruttura applicazione */
#app {
  height: 95%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* layout allo start */
.lay-main-start {
  /* regole grid */
  display: grid;
  grid-template-columns: minmax(260px, 32%) minmax(400px, 68%);
  grid-template-rows: 59px 1fr minmax(62px, auto);
  grid-template-areas:
  "user-info main-start"
  "contacts main-start"
  "contacts main-start";
}

/* layout chat attiva */
.lay-chat-attiva {
  /* regole grid */
  display: grid;
  grid-template-columns: minmax(260px, 32%) minmax(400px, 68%);
  grid-template-rows: 59px 1fr minmax(62px, auto);
  grid-template-areas:
  "user-info chat-info"
  "contacts chat"
  "contacts message";
}

/*                                        SEZIONI */

/*                                    user info */
.user-info {
  grid-area: user-info;
  background-color: #EAEAEA;
  padding: 5px;
  padding-left: 10px;

  display: flex;
  justify-content: space-between;
}

.nome-utente {
  height: 100%;
  /* width: 75%; */
  width: calc(100% - 90px);
  display: flex;
  align-items: center;
}

.nome-utente span {
  margin-left: 5px;
  font-weight: bold;
}

.user-info img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.impostazioni-utente {
  width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;

  color: #B1B1B1;
  font-size: 20px;
}

.impostazioni-utente > * {
  margin-right: 8px;
}

/*                                       contacts */
.contacts {
  grid-area: contacts;
  background-color: #FFFFFF;
}

/* contacts Alert */
.contacts-alert {
  height: 80px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.contacts-alert i {
  display: inline-block;
  padding: 15px 13px 15px 13px;
  margin-left: 15px;
  background-color: white;
  color: #8EDAFC;
  border-radius: 50%;
}

.contacts-alert > div {
  display: inline-block;
  padding: 0 10px;
}

.contacts-alert > div h2 {
  font-size: 18px;
}

.contacts-alert > div p {
  text-decoration: underline;
  color: #4F7485;
}

.contacts-alert > div p:hover {
  cursor: pointer;
}

/* contact search */
.contacts-search {
  height: 60px;
  padding: 10px;
  background-color: #FAFAFA;
}

.contacts-search > div {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.contacts-search > div i {
  margin-left: 10px;
  margin-right: 20px;
  color: #B6B9BB;
}

.contacts-search > div input {
  width: 90%;
  border: 0px;
}

/* contact contatto */

.contatto {
  padding: 5px;
  padding-left: 15px;
  height: 65px;
  border-bottom: 2px solid #F2F2F2;

  display: flex;
  justify-content: space-between;
}

.anteprima {
  flex-grow: 1;
  max-width: 50%;
  padding-right: 8px;
}

.anteprima h2 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anteprima p {
  color: #B6B9BB;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anteprima-data {
  width: 95px;
  font-size: 13px;
  color: #B6B9BB;
}

.contatto img {
  height: 100%;
  width: auto;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #F2F2F2;
}

.contacts .contatto:last-child {
  border-bottom: 0;
}

.contact-active {
  background-color: #E9EBEB;
  border-bottom: 0;
}

.contact-active img{
  background-color: #F2F2F2;
}



/*                                    main start */
.main-start {
  grid-area: main-start;
  background-color: #F8F9FA;
  text-align: center;
  overflow: auto;
  padding: 0 20px 10px 20px;
}

.main-start img {
  margin-top: 80px;
  margin-bottom: 35px;
  width: 250px;
  height: 250px;
}

.main-start h1 {
  font-size: 50px;
  font-weight: lighter;
}


.main-start p {
  color: #888989;
}

/* DEBUG:  */
/* .chat-info,
.chat,
.message {
  display: none !important;
} */
.main-start {
  display: none;
}

/*                                     chat info */
.chat-info {
  grid-area: chat-info;
  background-color: #EAEAEA;
  border-left: 1px solid #B1B1B1;
  padding: 5px;
  padding-left: 10px;

  display: flex;
  justify-content: space-between;
}

.chat-utente {
  height: 100%;
  width: calc(100% - 90px);
  display: flex;
  align-items: center;
}

.chat-utente div {
  padding-left: 10px;
  width: 80%;
}

.chat-utente h2 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-utente p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-info img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.impostazioni-chat {
  width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;

  color: #B1B1B1;
  font-size: 20px;
}

/*                                     chat */
.chat {
  grid-area: chat;
  background-image: url("../img/mine.jpg");
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.messaggio {
  min-width: 200px;
  max-width: 260px;
  word-wrap: break-word;
  margin: 5px 55px;
  border-radius: 10px;
  padding: 10px;
}

.chat .messaggio:first-child {
  margin-top: 40px;
}


.messaggio-testo {

}

.messaggio-data {
  font-size: 10px;
  color: #B6B9BB;
  text-align: right;
}

.inviato {
  align-self: flex-end;
  background-color: #D5F9BA;
}

.ricevuto {
  align-self: flex-start;
  background-color: #FFFFFF;
}

/*                                     message */
.message {
  grid-area: message;
  background-color: #F3EEEA;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message i {
  width: 100px;
  font-size: 25px;
  color: #6B7376;
  text-align: center;
  margin-bottom: 7px;
}

.message input {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
}

/*                             mediaqueries */

@media only screen and (max-width: 1000px) {

  .background1,
  .background2 {
    display: none;
  }

  #app {
    height: 100%;
    width: 100%;
    position: static;
    transform: translate(0%, 0%);
  }

@media only screen and (max-width: 680px) {

  .contacts,
  .user-info,
  .main-start,
  .chat-info {
    display: none;
  }

  nav {
    display: block;
  }

  #app {
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr minmax(62px, auto);
    grid-template-areas:
    "nav"
    "chat"
    "message";
  }

  .contatto {
    justify-content: flex-start;
  }

  .anteprima {
    max-width: 100%;
    overflow: hidden;
  }

  .anteprima h2 {
    z-index: 2;
    /* min-width: 100px; */
    max-width: 300px;
    font-size: 18px;
  }

  .anteprima p {
    max-width: 175px;
    z-index: 2;
  }

  .anteprima-data {
    font-size: 13px;
    z-index: 1;
  }

}
